/* Stock Autocomplete Styles */

:host {
  width: 100%;
}

/* Custom scrollbar for dropdown */
::ng-deep .stock-autocomplete-dropdown::-webkit-scrollbar {
  width: 0.5rem;
}

::ng-deep .stock-autocomplete-dropdown::-webkit-scrollbar-track {
  background-color: rgb(51 65 85 / 0.25);
}

::ng-deep .stock-autocomplete-dropdown::-webkit-scrollbar-thumb {
  background-color: rgb(100 116 139 / 0.5);
  border-radius: 0.25rem;
}

::ng-deep .stock-autocomplete-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100 116 139);
}
