<div class="hidden sm:block">
    <dl class="mx-auto grid grid-cols-1 gap-px bg-white/10 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 global_dark-background px-4 py-10 xl:px-8">
            <dt class="text-sm/6 font-medium text-gray-400">Symbol</dt>
            <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-white">{{ keyTicker() }}</dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 global_dark-background px-4 py-10 xl:px-8">
            <dt class="text-sm/6 font-medium text-gray-400">Close ({{ statsClose().most_recent_date }})</dt>
            <dd class="text-xs font-medium"
                [class.text-green-400]="statsClose().percent_variance > 0"
                [class.text-rose-400]="statsClose().percent_variance <= 0"
            >{{ statsClose().percent_variance }}%
            </dd>
            <dd class="w-full flex-none text-3xl/10 font-medium tracking-tight text-white">{{ statsClose().most_recent_close  | number : '1.2-2' }}</dd>
        </div>

        <div class="gap-x-4 gap-y-2 global_dark-background px-4 py-10 sm:px-6 xl:px-8">

            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">Open:</dt>
                <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ statsClose().most_recent_open | number : '1.2-2' }}</dd>
            </div>

            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">High:</dt>
                <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ statsClose().most_recent_high | number : '1.2-2' }}</dd>
            </div>

            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">Low:</dt>
                <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ statsClose().most_recent_low | number : '1.2-2' }}</dd>
            </div>

            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">Volume:</dt>
                <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ statsClose().most_recent_volume | number : '1.0-0' }}</dd>
            </div>
        </div>

        <div class="gap-x-4 gap-y-2 global_dark-background px-4 py-6 sm:px-6 xl:px-8">

            <div class="py-2"><!-- spacer--></div>
            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">Start:</dt>
                @if (useIntervalInDates()) {
                    <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ intervalInDates().split('_')[0] }}</dd>
                } @else {
                    <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ getPastDateInDays(intervalInDays()) }}</dd>
                }
            </div>

            <div class="flex flex-wrap items-baseline justify-between w-full">
                <dt class="text-sm/6 font-medium text-gray-400 px-8 sm:px-4">End:</dt>
                @if (useIntervalInDates()) {
                    <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ intervalInDates().split('_')[1] }}</dd>
                } @else {
                    <dd class="text-md font-medium text-gray-200 px-8 sm:px-4">{{ getPastDateInDays(1) }}</dd>
                }
            </div>


            @if (!useIntervalInDates()) {
                <div class="flex flex-wrap items-center justify-center w-full py-4">
                    <div class="isolate inline-flex rounded-md">
                        <button
                                type="button"
                                (click)="setIntervalInDays(30)"
                                [class.bg-white/20]="intervalInDays() === 30"
                        [class.bg-white/10]="intervalInDays() !== 30"
                        class="relative inline-flex items-center rounded-l-md px-3 py-2 text-sm font-semibold text-white inset-ring-1 inset-ring-gray-700 hover:bg-white/20 focus:z-10">
                        1M
                        </button>
                        <button
                                type="button"
                                (click)="setIntervalInDays(90)"
                                [class.bg-white/20]="intervalInDays() === 90"
                        [class.bg-white/10]="intervalInDays() !== 90"
                        class="relative -ml-px inline-flex items-center px-3 py-2 text-sm font-semibold text-white inset-ring-1 inset-ring-gray-700 hover:bg-white/20 focus:z-10">
                        3M
                        </button>
                        <button
                                type="button"
                                (click)="setIntervalInDays(180)"
                                [class.bg-white/20]="intervalInDays() === 180"
                        [class.bg-white/10]="intervalInDays() !== 180"
                        class="relative -ml-px inline-flex items-center px-3 py-2 text-sm font-semibold text-white inset-ring-1 inset-ring-gray-700 hover:bg-white/20 focus:z-10">
                        6M
                        </button>
                        <button
                                type="button"
                                (click)="setIntervalInDays(365)"
                                [class.bg-white/20]="intervalInDays() === 365"
                        [class.bg-white/10]="intervalInDays() !== 365"
                        class="relative -ml-px inline-flex items-center rounded-r-md px-3 py-2 text-sm font-semibold text-white inset-ring-1 inset-ring-gray-700 hover:bg-white/20 focus:z-10">
                        1Y
                        </button>
                    </div>
                </div>

            }

        </div>

    </dl>

</div>
